{% extends 'base.html' %}

{% block title %}Mozo | Dashboard{% endblock %}


{% block content %}
    <div class="mozo_navbar text-center">
        <div class="mozo_user__navbar">
            <a href="{% url 'home' %}" class="text-white sourcesans_bold font-md">Mozo</a>
            <p class="text-white sourcesans_reg font-sm">{{ username }}</p>
        </div>
    </div>
{% endblock %}