{% extends 'base.html' %}

{% block title %}Mozo | Login{% endblock %}
{% block content %}
{% include 'navbar.html' %}
    <div class="mozo_form">
    <div class="mozo_form__content">
        <h2 class="font-md sourcesans_bold">Log into Mozo</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="@username"/>
            <input type="password" placeholder="password"/>
            <button type="submit" class="mozo_btn__auth">Get in</button>
        </form>
        <p class="mt-5">Forgot password? <a href="{% url 'recover' %}" class="mozo_login__link text-primary sourcesans_bold">Recover here</a></p>
    </div>
 </div>
{% endblock %}