{% extends 'base.html' %}

{% block title %}Mozo | Register{% endblock %}
{% block content %}
{% include 'navbar.html' %}
 <div class="mozo_form">
    <div class="mozo_form__content">
        <h2 class="font-md sourcesans_bold">Register on Mozo</h2>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="mozo_btn__auth">Get started</button>
        </form>
        <p class="mt-5">Already registered? <a href="{% url 'login' %}" class="mozo_login__link text-primary sourcesans_bold">Login</a></p>
    </div>
 </div>
{% endblock %}