/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');*/
:root{
  --primary: #2A2A72;
  --secondary: #009FFD;
  --tertiary: #FFA400;
  --white: #EAF6FF;
  --dark: #232528;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype"),
       url("../fonts/SourceSansPro-Light.ttf") format("truetype"),
       url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

.flex{
  display: flex;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-white{
  color: var(--white);
}

.text-dark{
  color: var(--dark);
}

.text-primary{
  color: var(--primary);
}

.mt-5{
  margin-top: 5px;
}

.font-sm{
  font-size: 1em;
}

.font-md{
  font-size: 2em;
}

.font-lg{
  font-size: 3em;
}

.sourcesans_light{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.sourcesans_reg, input{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.sourcesans_bold{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.center-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mozo_main{
  height: 100vh;
}

.mozo_home{
  width: 100%;
  height: 100%;
  background: url(../images/mozo.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.mozo_home::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

.mozo_home__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 650px;
  z-index: 5;
}

.mozo_btn{
  padding: 15px 30px;
  border-radius: 5px;
  transition: background-color .3s ease-out;
}

.mozo_btn:hover{
  background-color: var(--dark);
  color: var(--white);
}

.mozo_home__btns{
  margin:20px auto;
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.mozo_btn__primary{
  background-color: var(--primary);
  color: var(--white);
}

.mozo_btn__secondary{
  background-color: var(--secondary);
  color: var(--white);
}

.mozo_form__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mozo_form__content input{
  margin: 10px 0;
  height: 50px;
  width: 350px;
  border-radius: 5px;
  border: 2px solid var(--dark);
  text-indent: 25px;
  outline: none;
  transition: border .3s ease-in-out;
  font-size: 18px;
  /*font-size: 1.2em;*/
}

.mozo_form__content input:focus{
  border-color: var(--primary);
}

.mozo_form__content input::placeholder {
  font-weight: bold;
}

.mozo_btn__auth{
  height: 55px;
  width: 100%;
  background: var(--primary);
  color: var(--white);
  margin-top: 13px;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

.mozo_btn__auth:hover{
  background: var(--dark);
}

.mozo_navbar{
  padding: 0 30px;
  position: absolute;
  top: 0;
  height: 80px;
  line-height: 80px;
  background: var(--primary);
  width: 100%;
}

.mozo_login__link:hover{
  color: var(--tertiary);
}

.mozo_user__navbar{
  display: flex;
  justify-content: space-between;
}