{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/mozo.css' %}"/>
</head>
<body>
    {% block body %}
        <div class="mozo_main center-div">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>