{% extends 'base.html' %}

{% block title %}Mozo | Home{% endblock %}

{% block content %}
    <div class="mozo_home center-div">
        <div class="mozo_home__content text-center">
            <h3 class="text-white sourcesans_bold font-lg">Welcome to Mozo</h3>
            <h4 class="text-white sourcesans_reg font-md">A simple movie subscription web app</h4>
            <div class="mozo_home__btns">
                <a type="button" href="{% url 'register' %}" class="mozo_btn mozo_btn__primary sourcesans_bold font-sm">Sign up</a>
                <a type="button" href="{% url 'login' %}" class="mozo_btn mozo_btn__secondary sourcesans_bold font-sm">Sign in</a>
            </div>
        </div>
    </div>
{% endblock %}